* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Arial, sans-serif;
	color: #4C4C4C;
	background: url("/content/images/bg.gif") repeat-x #DFDBD3;
	font-size: 12px;
	line-height: 1.2em;
}

.page-wrapper {
	width: 800px;
}

#header {
	background: url("/content/images/headerbg.jpg") top left no-repeat;
	padding: 200px 0 0 0;
}


#menu {
	background: url("/content/images/navbg.gif") repeat-y;
	position: absolute;
	left: 800px;
	top: 130px;
	width: 285px;
}

.menu-wrapper {
	background: url("/content/images/navbtmbg.gif") no-repeat left bottom;
	padding: 20px 0 160px;
}

.menu-wrapper h3 {
	background-color: #4C4C4C;
	color: #CCC;
	padding: 5px 0 5px 20px;
}

.menu-wrapper ul {
	
	list-style-type: none;
	padding: 0 75px 25px 15px;
}

.menu-wrapper ul li {
	background: url("/content/images/navico.gif") no-repeat 3pt 5pt;
	border-bottom: 1px solid #CFCCC4;
	padding: 7px 10px 7px 25px;
}